; Set URL for your scoped packages.
; Packages with name `@sidewalk/foo` will use this URL for download
@sidewalk:registry=https://git.side-walk.dk/api/v4/packages/npm/

; Add the token for the scoped packages URL. This will allow you to download
; `@sidewalk/` packages from private projects.
//git.side-walk.dk/api/v4/packages/npm/:_authToken=${NPM_TOKEN}
